%li= link_to 'About US', 'http://impulseinfratech.com/', :target => "_blank"
%li= link_to 'Franchisee', 'http://impulseinfratech.com/faqfranchiseelist.html', :target => "_blank"
%li= link_to 'Franchisee FAQ', 'http://impulseinfratech.com/faqfranchisee.html', :target => "_blank"
%li= link_to 'Legal Advice', page_path('LegalAdvice')